/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@view-transition {
	navigation: auto;
}

* {
	font-family: "Readex Pro", sans-serif;
	max-inline-size: none;
}

p {
	margin: 0;
	padding-bottom: 1rem;
}

:root {
	background: var(--gray-10);
}

body {
	max-width: 800px;
	padding: 1rem;

	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

main {
	flex: 1;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
	height: 1.5rem;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 550;
	line-height: 1.2;
	padding-bottom: var(--size-4);
}

h1 {
	font-weight: 300;
	font-size: var(--font-size-6);
}
h2 {
	font-size: var(--font-size-5);
}
h3 {
	font-size: var(--font-size-4);
}
h4 {
	font-size: var(--font-size-3);
}
h5 {
	font-size: var(--font-size-2);
}
h6 {
	font-size: var(--font-size-1);
}

button {
	margin: 0 !important;
}

.smallbtn {
	max-width: fit-content;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;

	display: flex;
	flex-direction: column;
	gap: var(--size-2);
}

label {
	display: inline-block;
}

input,
select,
textarea {
	background-color: var(--gray-8);
	border: 1px solid var(--gray-7);
	appearance: none;

	display: block;
	width: 100%;
	font-family: inherit;

	transition: outline-offset 0.1s;
}

input[type="number"] {
	width: 10rem;
}

input[type="file"] {
	width: fit-content;
}

a {
	color: var(--blue-5);
	text-decoration: none;
	transition: 0.2s color;
	&:hover {
		color: var(--blue-7);
	}
}

nav {
	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 1rem;
	}
}

header {
	padding-bottom: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&.table fieldset {
		flex-direction: row;
		align-items: center;

		label {
			min-width: 8rem;
		}
	}
}

.rowform {
	flex-direction: row;
	align-items: center;
	gap: var(--size-3);
}

ul.table li span {
	display: inline-block;
	width: 15rem;
}

.inline-form {
	display: inline;
	button {
		padding-block: 0.3ch;
		padding-inline: var(--size-relative-3);
	}
}

nav ul {
	display: flex;
	align-items: center;
}

.cover {
	border: 1px solid white;
	width: 200px;
	height: 200px;
}

table {
	width: 100%;

	th,
	td {
		text-align: left;
		padding: var(--size-2) var(--size-3);
	}
}

.formerror {
	width: fit-content;
	display: inline;
	background-color: hsla(0, 100%, 71%, 0.5); /* red-5 */

	color: var(--red-5);
	font-size: var(--font-size-0);
	padding: var(--size-2) var(--size-3);
	border-radius: var(--size-1);
}

.bottomgap {
	padding-bottom: 2rem;
}

footer {
	padding-top: 2rem;
}
