/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@view-transition {
	navigation: auto;
}

* {
	font-family: "Readex Pro", sans-serif;
	max-inline-size: none;
}

p {
	margin: 0;
	padding-bottom: 1rem;
}

:root {
	background: var(--gray-11);
}

body {
	max-width: 800px;
	padding: 1rem;

	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

main {
	flex: 1;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 550;
	line-height: 1.2;
	padding-bottom: var(--size-4);
}

h1 {
	font-weight: 300;
	font-size: var(--font-size-5);
}
h2 {
	font-size: var(--font-size-4);
}
h3 {
	font-size: var(--font-size-3);
}
h4 {
	font-size: var(--font-size-2);
}
h5 {
	font-size: var(--font-size-1);
}
h6 {
	font-size: var(--font-size-1);
}

button {
	margin: 0 !important;
}

button:not(form button) {
	transition: background 0.2s;

	&:hover {
		background: var(--gray-8);
	}

	&:active {
		background: var(--gray-9);
	}
}

.qty {
	display: flex;
	align-items: center;
	height: fit-content;
	gap: var(--size-3);

	button {
		padding: var(--size-1);
		width: var(--size-7);
		height: var(--size-7);
	}
}

.smallbtn {
	max-width: fit-content;
}

textarea {
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;

	display: flex;
	flex-direction: column;
	gap: var(--size-2);
}

label {
	display: inline-block;
}

input,
select,
textarea {
	background-color: var(--gray-8);
	border: 1px solid var(--gray-7);
	appearance: none;

	display: block;
	width: 100%;
	font-family: inherit;

	transition: outline-offset 0.1s;
}

input[type="number"] {
	width: 10rem;
}

input[type="file"] {
	width: fit-content;
}

/* add arrow to the right of select */
select {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='0.15' stroke-linecap='round' d='M0.5 0.75 L1 1.25 L1.5 0.75'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
}

a {
	color: var(--blue-5);
	text-decoration: none;
	transition: 0.2s color;
	&:hover {
		color: var(--blue-7);
	}
}

header {
	padding-bottom: 2rem;
}

form {
	ul {
		background: hsla(0, 100%, 71%, 0.5);
		color: var(--red-5);
		font-size: var(--font-size-0);
		padding: var(--size-2) var(--size-3);
		border-radius: var(--size-1);

		list-style-position: inside;
	}

	> div {
		display: flex;
		flex-direction: column;
		gap: var(--size-3);

		/* omg I'm actually using the :has() selector */
		> div:has(input) {
			display: flex;
			flex-direction: column;
			gap: var(--size-2);
		}
	}
}

.rowform {
	flex-direction: row;
	align-items: center;
	gap: var(--size-3);
}

ul.table li span {
	display: inline-block;
	width: 15rem;
}

.inline-form {
	display: inline;
	button {
		padding-block: 0.3ch;
		padding-inline: var(--size-relative-3);
	}
}

.cover {
	border: 1px solid white;
	width: 200px;
	height: 200px;
}

table {
	width: 100%;

	th,
	td {
		text-align: left;
		padding: var(--size-2) var(--size-3);
	}
}

.bottomgap {
	padding-bottom: var(--size-7);
}

footer {
	padding-top: var(--size-7);
}

.product {
	display: flex;
	justify-content: space-between;
	gap: var(--size-4);

	color: inherit;
	background: var(--gray-9);
	padding: var(--size-3);
	border-radius: var(--size-2);

	h2 {
		font-weight: 250;
		padding-bottom: 0;
	}

	& .price {
		font-weight: 500;
	}
}

/* navigation */

nav ul,
#mobiletop {
	padding: 0;
	display: flex;
	align-items: center;
	gap: var(--size-3);
}

nav ul {
	list-style: none;
}

#desktopnav {
	display: none;
}

#mobilenavbutton {
	anchor-name: --nav;
}

#mobilenav {
	position: absolute;
	position-area: bottom span-right;
	position-anchor: --nav;
	background: none;
	padding: 0;
	padding-top: var(--size-2);

	nav {
		background: var(--gray-8);
		padding: var(--size-3);
		border-radius: var(--size-2);
		box-shadow: var(--shadow-4);

		ul {
			padding-left: 0;
			flex-direction: column;

			li {
				width: 100%;
			}
		}
	}
}

@media (width >= 600px) {
	#desktopnav {
		display: block;
	}

	#mobiletop,
	#mobilenav {
		display: none;
	}
}
